.wrapper {
    text-align: center;
    margin-block-start: -3rem;
}
.login__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-block-end: 2rem;
}
.login__title i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    background: var(--red-color);
    border-radius: .5rem;
    box-shadow: var(--shadow);
}
.login__title h1 {
    font-size: 1.2rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.error__messege {
    position: absolute;
    bottom: 11rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.success__messege {
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.error__messege h2, .success__messege h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.error__messege h2 {
    color: var(--red-color);
}
.success__messege h2 {
    color: var(--green-color);
}
.rows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: .7rem;
}
label {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 100;
}
label i {
    color: var(--white-color);
    font-size: .9rem;
    margin-right: .2rem;
}
input {
    width: 70%;
    border-radius: .2rem;
    padding: .2rem;
    background: var(--white-color);
    color: var(--dark-color);
    font-weight: 500;
    box-shadow: var(--shadow);
}
.form__btn {
    margin-block-start: 2rem;
}
button {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--dark-color);
    width: 100%;
    padding: .4rem;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.info {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    box-shadow: var(--shadow);
    border: 1px solid var(--dark-color);
    padding: 1rem;
    border-radius: .5rem;
    font-size: .9rem;
    font-weight: 200;
}